<footer class="site-footer">
  <div class="container">
    <div class="footer-grid">
      <div class="footer-brand">
        <div class="footer-logo">
          <svg class="logo-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 442 270">
            <path d="M239.681 40.354c-1.19-.527-2.727-.527-4.262 0-35.254 20.701-70.157 41.353-105.411 62.054-1.19.702-2.553 1.756-2.553 3.336v62.229c0 1.58 1.363 2.634 2.553 3.16 6.987 4.215 14.149 8.255 21.311 12.471v-65.916c0-1.58 1.19-2.81 2.728-3.512 19.748-11.594 39.342-23.187 59.09-34.956 1.538-.702 1.538-2.81 0-3.511-5.449-3.336-10.898-6.847-16.347-10.183-1.363-.878-2.901-.878-4.264 0-16.694 9.838-33.39 19.676-50.085 29.513-.527.35-1.363.35-1.89 0L88.15 76.014c-1.537-.878-2.9-.878-4.437 0l-54.35 32.148c-1.363.702-2.554 1.932-2.554 3.512v64.336c0 1.58.498 3.16 2.036 4.039 16.87 10.012 33.914 20.025 50.784 30.037 1.537.878 3.074.878 4.611 0l54.35-32.148c1.19-.702 2.38-1.756 2.38-3.336 0-21.578-.175-43.157 0-64.736 0-1.58 1.364-2.81 2.901-3.512 6.988-4.039 13.8-8.079 20.788-12.119 1.537-.878 1.537-2.81 0-3.687-5.45-3.16-10.898-6.495-16.347-9.655-1.363-.878-2.9-.878-4.263 0-16.695 9.832-33.39 19.67-50.084 29.513-.527.35-1.363.35-1.89 0l-54.35-32.148c-1.538-.878-3.248-1.053-4.958-.351C21.14 82.86 9.369 88.828 2.21 91.813c-1.364.527-2.21 1.756-2.21 3.16v120.767c0 1.756 1.19 3.16 2.9 3.687 25.226 9.132 50.61 18.088 75.836 27.22 1.364.526 2.901 0 3.944-1.053 6.114-6.319 12.227-12.637 18.34-19.132.878-.878.878-2.634 0-3.512l-19.4-11.418c-1.36-.702-1.36-2.634 0-3.511 6.988-4.215 13.975-8.255 20.963-12.471 1.363-.878 2.9-.878 4.263 0 16.695 9.838 33.39 19.676 50.085 29.514.527.351 1.363.351 1.89 0l54.35-32.148c1.364-.702 2.38-1.932 2.38-3.511V127.99c0-1.58-.498-2.985-2.036-3.863-16.87-10.012-33.914-20.024-50.783-30.037-1.538-.878-3.074-.878-4.612 0l-54.35 32.148c-1.19.702-2.38 1.932-2.38 3.336v64.737c0 1.58-1.363 2.81-2.727 3.511-6.988 4.04-13.8 8.08-20.788 12.12-1.537.877-1.537 2.81 0 3.686 5.45 3.16 10.898 6.495 16.347 9.655 1.363.878 2.9.878 4.263 0 16.695-9.838 33.39-19.676 50.085-29.513.527-.351 1.363-.351 1.89 0l54.349 32.148c1.538.878 3.248 1.053 4.959.351 11.425-5.446 23.172-11.418 30.331-14.403 1.364-.527 2.38-1.756 2.38-3.16V86.203c0-1.756-1.19-3.16-2.9-3.687-25.227-9.131-50.61-18.088-75.836-27.22-1.364-.526-2.901 0-3.944 1.054l-18.34 19.132c-.878.878-.878 2.634 0 3.512l19.4 11.418c1.363.878 1.363 2.634 0 3.512-6.988 4.214-13.975 8.254-20.963 12.47-1.364.878-2.902.878-4.264 0-16.694-9.838-33.39-19.676-50.084-29.514-.527-.35-1.363-.35-1.89 0l-54.35 32.148c-1.364.702-2.38 1.932-2.38 3.512v60.522c0 1.58.498 2.985 2.035 3.863 16.87 10.012 33.914 20.025 50.784 30.037 1.538.878 3.074.878 4.612 0l54.35-32.148c1.19-.702 2.38-1.932 2.38-3.336 0-21.578.175-43.157 0-64.736 0-1.58 1.363-2.81 2.727-3.512 6.988-4.039 13.8-8.079 20.787-12.119 1.538-.878 1.538-2.81 0-3.687-5.45-3.16-10.898-6.495-16.347-9.655-1.363-.878-2.9-.878-4.263 0-16.694 9.838-33.39 19.676-50.084 29.514-.527.35-1.363.35-1.89 0L88.15 107.81c-1.537-.878-2.9-.878-4.437 0-5.1 3.16-10.2 6.144-15.3 9.13-.878.527-1.19 1.58-.878 2.634.526 1.053 1.363 1.58 2.554 1.58h.351c1.736-.176 3.3-1.054 4.786-1.58 1.736-.702 3.599-1.404 5.335-2.106 1.537-.702 3.074-.702 4.611 0l54.35 32.148c1.364.702 2.38 1.932 2.38 3.512v60.522c0 1.58-.498 2.985-2.035 3.863-16.87 10.012-33.914 20.025-50.784 30.037-1.538.878-3.074.878-4.611 0-16.871-10.012-33.915-20.025-50.784-30.037-1.538-.878-2.036-2.283-2.036-3.863v-60.522c0-1.58 1.016-2.81 2.38-3.512l54.35-32.148c1.537-.878 3.073-.878 4.61 0 1.737.878 3.6 1.756 5.336 2.634 1.363.702 2.9 1.053 4.437 1.58.702 0 1.363-.351 1.89-.879.525-.702.35-1.58 0-2.458-.35-.702-1.04-1.404-1.89-1.756-5.101-3.16-10.376-6.144-15.477-9.13-1.363-.878-2.9-.878-4.263 0-35.254 20.7-70.157 41.402-105.41 62.054-1.192.702-2.38 1.931-2.38 3.51v62.23c0 1.58 1.363 2.634 2.553 3.16 35.254 20.7 70.157 41.401 105.411 62.053 1.19.702 2.726.702 4.088 0 35.254-20.701 70.157-41.353 105.41-62.054 1.192-.702 2.38-1.756 2.38-3.16v-62.23c0-1.58-1.363-2.81-2.553-3.336-7.16-4.214-14.148-8.254-21.31-12.47v65.917c0 1.58-1.19 2.81-2.728 3.511-19.748 11.594-39.342 23.188-59.09 34.782-1.538.878-3.248.526-4.437-.351-4.786-3.336-9.572-6.496-14.358-9.83-1.19-.879-2.901-.527-3.6.702-.701 1.404-.35 2.81.842 3.687 5.624 3.863 11.424 7.553 17.049 11.418 1.363.878 2.9.878 4.263 0 21.31-12.647 42.767-25.12 64.076-37.768 1.364-.702 2.553-1.931 2.553-3.51v-128.67c0-1.58-1.19-2.985-2.727-3.687z" fill="currentColor"/>
          </svg>
          <span>Larify</span>
        </div>
        <p class="footer-tagline">A modern Laravel-like framework for Node.js</p>
      </div>
      
      <div class="footer-nav">
        <h4>Documentation</h4>
        <ul>
          <li><a href="/docs">Getting Started</a></li>
          <li><a href="/docs/examples">Code Examples</a></li>
          <li><a href="/docs/theme">Theme Guide</a></li>
        </ul>
      </div>
      
      <div class="footer-nav">
        <h4>Community</h4>
        <ul>
          <li><a href="https://github.com/yourusername/larify">GitHub</a></li>
          <li><a href="https://twitter.com/larifyjs">Twitter</a></li>
          <li><a href="https://discord.gg/larify">Discord</a></li>
        </ul>
      </div>
      
      <div class="footer-nav">
        <h4>Resources</h4>
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="https://github.com/yourusername/larify/blob/main/LICENSE">License</a></li>
          <li><a href="https://github.com/yourusername/larify/blob/main/CONTRIBUTING.md">Contributing</a></li>
        </ul>
      </div>
    </div>
    
    <div class="footer-bottom">
      <p>&copy; 2025 Larify - All rights reserved.</p>
      <div class="footer-social">
        <a href="https://github.com/yourusername/larify" aria-label="GitHub">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
            <path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/>
          </svg>
        </a>
        <a href="https://twitter.com/larifyjs" aria-label="Twitter">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
            <path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"/>
          </svg>
        </a>
        <a href="https://discord.gg/larify" aria-label="Discord">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
            <path d="M20.317 4.3698a19.7913 19.7913 0 00-4.8851-1.5152.0741.0741 0 00-.0785.0371c-.211.3753-.4447.8648-.6083 1.2495-1.8447-.2762-3.68-.2762-5.4868 0-.1636-.3933-.4058-.8742-.6177-1.2495a.077.077 0 00-.0785-.037 19.7363 19.7363 0 00-4.8852 1.515.0699.0699 0 00-.0321.0277C.5334 9.0458-.319 13.5799.0992 18.0578a.0824.0824 0 00.0312.0561c2.0528 1.5076 4.0413 2.4228 5.9929 3.0294a.0777.0777 0 00.0842-.0276c.4616-.6304.8731-1.2952 1.226-1.9942a.076.076 0 00-.0416-.1057c-.6528-.2476-1.2743-.5495-1.8722-.8923a.077.077 0 01-.0076-.1277c.1258-.0943.2517-.1923.3718-.2914a.0743.0743 0 01.0776-.0105c3.9278 1.7933 8.18 1.7933 12.0614 0a.0739.0739 0 01.0785.0095c.1202.099.246.1981.3728.2924a.077.077 0 01-.0066.1276 12.2986 12.2986 0 01-1.873.8914.0766.0766 0 00-.0407.1067c.3604.698.7719 1.3628 1.225 1.9932a.076.076 0 00.0842.0286c1.961-.6067 3.9495-1.5219 6.0023-3.0294a.077.077 0 00.0313-.0552c.5004-5.177-.8382-9.6739-3.5485-13.6604a.061.061 0 00-.0312-.0286zM8.02 15.3312c-1.1825 0-2.1569-1.0857-2.1569-2.419 0-1.3332.9555-2.4189 2.157-2.4189 1.2108 0 2.1757 1.0952 2.1568 2.419 0 1.3332-.9555 2.4189-2.1569 2.4189zm7.9748 0c-1.1825 0-2.1569-1.0857-2.1569-2.419 0-1.3332.9554-2.4189 2.1569-2.4189 1.2108 0 2.1757 1.0952 2.1568 2.419 0 1.3332-.946 2.4189-2.1568 2.4189Z"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>
