<header>
  <div class="container">
    <h1>Larify</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/docs">Documentation</a></li>
        <li><a href="/about">About</a></li>
        {{#if user}}
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/logout">Logout</a></li>
        {{else}}
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
        {{/if}}
      </ul>
    </nav>
  </div>
</header>
